<nav>
    <div class="logo" id="mobile"><a href="/" class="home-redirect">BCF</a></div>
    <div class="logo" id="desktop"><a href="/" class="home-redirect">BootCampFu</a></div>
    <div class="search-div">
        <input id="search" placeholder="Search">
        <button id="search-btn"><i class="fas fa-search"></i></button>
    </div>
    <div class="login-div">
        <button id="signup-login-btn"><i class="fas fa-sign-in-alt"></i></button>
    </div>
</nav>

<section class="recentquestions-section">
    <h1>Recent Questions</h1>
    {{#each recentQuestions}}
        <h2>{{title}}</h2> 
        <p>{{topic}}</p>
        <p>{{text}}</p>
        <p>{{User.username}}</p>
        <p>{{createdAt}}</p> 
    {{/each}}
</section>

<section class="topic-section">
    <h1>Browse Questions by Topic</h1>
    <ul>
        {{!-- <li class="topic-search" data-topic="1">HTML/CSS</li> --}}
        <a href="questions/topics/1"><li data-topic="1">HTML/CSS</li></a>
        <li class="topic-search" data-topic="2">JavaScript</li>
        <li class="topic-search" data-topic="3">Firebase</li>
        <li class="topic-search" data-topic="4">Node</li>
        <li class="topic-search" data-topic="5">Express</li>
        <li class="topic-search" data-topic="6">React</li>
    </ul>
</section>

<section class="ask-section">
    <h1>Ask A Question</h1>
    <p class="form-para">
        Title:
        <input id="question-title" placeholder="Need help with CSS!">
    </p>
    <p class="form-para">
        Topic:
        <input id="question-topic" placeholder="e.g. Java">
    </p>
    <p class="form-para">
        Week Number:
        <input id="question-week" placeholder="e.g. Week 1">
    </p>
    <p class="form-para">
        Question:<br>
        <textarea id="question-body" placeholder="e.g. I'm going to cry"></textarea>
    </p>
    <p class="form-para">
        <button type="submit" id="submit-custom-question-btn">Help!!!</button>
    </p>
</section>

<footer>
    Copyright &copy; 2019
</footer>

