<div class="question-list">
   
    <h1>{{topic}}</h1>
    
    {{#each questions}}
        <div class="questions">
            <div class="upvotes-div">
                <i class="fas fa-chevron-up fa-lg upvote" data-questionid={{id}}></i>
                <p class="upvotes-num">{{score}}</p>
                <i class="fas fa-chevron-down fa-lg downvote" data-questionid={{id}}></i>
            </div>
            <div class="question-content-div">
                <a href="/questions/{{id}}"><p class="question-title">{{title}}</p></a>
                <p class="author">{{User.username}}</p>
            </div>
            </div>
    {{/each}}    
</div>


