{{!-- <h2>{{question.title}}</h2> 
<p>{{question.topic}}</p>
<p>{{question.text}}</p>
<p>{{question.User.username}}</p>
<p>{{question.createdAt}}</p>  --}}

{{#each question.answer}}
  <p>{{text}}</p>
{{/each}}

<div class="question-page">
        <div class="question">
            <h1>{{question.title}}</h1>
            <p class="username">{{question.User.username}}</p>
            <p class="question-body-text">{{question.text}}</p>
            <p class="timestamp">{{question.createdAt}}</p>
        </div>

        <br> <br>


        <section class="reply-section">
            <h1>Write a response</h1>
            <form action="/api/question/{{id}}/answers" method="POST">
            <p class="form-para">
                User Name:
                <input id="answer-username" placeholder="User name here">
            </p>
            <p class="form-para">
                Answer:<br>
                <textarea id="answer-body" placeholder="Start crying"></textarea>
            </p>
            <p class="form-para">
                <button id="submit-custom-answer-btn">Done!!!</button>
            </p>
            </form>
        </section>
    </div>

    


</body>
</html>
