<div class="question-page">
    <h1>Question</h1>
    
    <div class="question">
        <div class="upvotes-div">
                <i class="fas fa-chevron-up fa-lg upvote" data-questionid={{question.id}}></i>
                <p class="upvotes-num">{{question.score}}</p> <!--templating-->
                <i class="fas fa-chevron-down fa-lg downvote" data-questionid={{question.id}}></i>
        </div>
        <div class="title-author">
            <h2>{{question.title}}</h2>
            <p class="username">{{question.User.username}}</p>
        </div>
        <div class="question-content-div">
            <p class="question-body-text">{{question.text}}</p>
        </div>
    </div>

    <h1>Responses</h1>

    {{#each answers}}
    <div class="answers">
        <div class="q-upvotes-div">
            <i class="fas fa-chevron-up fa-lg a-upvote" data-questionid={{QuestionId}} data-answerId={{id}}></i>
            <p class="q-upvotes-num">{{score}}</p>
            <i class="fas fa-chevron-down fa-lg a-downvote" data-questionid={{QuestionId}} data-answerId={{id}}></i>
        </div>
        <div class="answer-content-div">
            <p class="answer-body">{{text}}</p>
            <p class="author">{{User.username}}</p>
        </div>
    </div>
    {{/each}}


    <section class="reply-section">
        <h1>Write a response</h1>
        <form class="reply-form" action="/api/questions/{{question.id}}/answers" method="POST">
            <p class="form-para">
                Answer:<br>
                <textarea id="answer-body" placeholder="Start crying" name="text"></textarea>
            </p>
            <p class="form-para">
                <button type="submit" value="Submit" id="submit-custom-answer-btn">Done!!!</button>
            </p>
        </form>
    </section>
</div>
