<div class="question-list">
   
    <h1>{{topic}}</h1>
   


    {{#each questions}}
        
        <div class="questions">
            <div class="upvotes-div">
                <i class="fas fa-chevron-up fa-lg upvote" data-questionid={{id}}></i>
                <p class="upvotes-num">{{score}}</p> <!--templating-->
                <i class="fas fa-chevron-down fa-lg downvote" data-questionid={{id}}></i>
            </div>
            <!--below will all use templating-->
            <div class="question-content-div">
                <a href="/questions/{{id}}"><p class="question-title">{{title}}</p></a>
                <p class="question-body">{{text}}</p>
                <p class="author">{{User.username}}</p>
            </div>
            </div>
    {{/each}}

    
        <!--below will all use templating-->
        
</div>


