<div class="question-page">
    <div class="question">
        <div class="upvotes-div">
                <i class="fas fa-chevron-up fa-lg upvote"></i>
                <p class="upvotes-num">{{score}}</p> <!--templating-->
                <i class="fas fa-chevron-down fa-lg downvote"></i>
        </div>
        <div class="question-content-div">
        <h1>{{question.title}}</h1>
            <p class="username">{{question.User.username}}</p>
            <p class="question-body-text">{{question.text}}</p>
            <p class="timestamp">{{question.createdAt}}</p>
        </div>
    </div>

    <br> <br>

    {{#each answers}}
    <div class="answers">
        <div class=".q-upvotes-div">
            <i class="fas fa-chevron-up fa-lg q-upvote"></i>
            <p class="q-upvotes-num">{{score}}</p>
            <i class="fas fa-chevron-down fa-lg q-downvote"></i>
        </div>
        <div class="answer-content-div">
            <p class="answer-body">{{text}}</p>
            <p class="author">Posted by: {{User.username}}</p>
        </div>
    </div>
    {{/each}}


    <section class="reply-section">
        <h1>Write a response</h1>
        <form class="reply-form" action="/api/questions/{{question.id}}/answers" method="POST">
            <p class="author">
                {{#each answers}}
                {{User.username}}
                {{/each}}
            </p>
            <p class="form-para">
                Answer:<br>
                <textarea id="answer-body" placeholder="Start crying" name="text"></textarea>
            </p>
            <p class="form-para">
                <button type="submit" value="Submit" id="submit-custom-answer-btn">Done!!!</button>
            </p>
        </form>
    </section>
</div>




</body>

</html>